@font-face {
    font-family: 'jellyfish';
    src: url(Jelly\ Fish.otf);
}

body{
    background-color: rgb(46, 13, 68);
    text-align: center;
    font-family: 'jellyfish';
}

h1{
    color: pink;
    font-size: 50px;
}

.cinema{
    display: flex;
    align-items: center;
    justify-content: center;
}

video{
    border: inset rgb(190, 77, 185) 15px;
    border-radius: 40px;
}

::cue{
    color: pink;
    font-family: 'jellyfish';
}